{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
{% include 'tweetme/search_form.html' %}<br>
{% for object in object_list %}
<div class="media">
    {% if object.image %}
    <img class="mr-3" src="..." alt="Generic placeholder image">
    {% endif %}
    <div class="media-body">
 {{object.content}}<br> via {{object.user}}<br>{{object.timestamp|timesince}} ago | <a href="{{object.get_absolute_url}}">View</a> </p><br><br>
 
      
    </div>
  </div>
<hr>


{% empty %}
{% if request.GET.q %}
<p>No tweet yet.</p>
{% else %}
<p>No tweets yet.</p>
{% endif %}
{% endfor %}
{% endblock content %} 
</div>
</div>