{% extends 'base.html' %}
{% block script %}
<script>

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}
  $(document).ready(function(){
    console.log("working");

    var query=getParameterByName("q")
    console.log(query)

  $.ajax({
    url:"api/tweet/?q=somequery",
    data:{
      "q":query
    },
    method:"GET",
    success: function(data){
      console.log(data)
      $.each(data,function(key,value){
        var tweetkey=key;
        var tweetcontent=value.content
        var tweetuser=value.user
        $("#tweet-container").append(
          "<div class='media'><div class='media-body'>"+tweetcontent+" <br> via "+tweetuser.username + "|"+ "<a href='#'>View</a>" + "</div></div>"
        )  
        
      })
    },
    error:function(data){
      console.log("error")
      console.log(data)
      
    }
  })
  })
</script>

{%  endblock script%}
{% block content %}
{% for object in object_list %}
<div class="row">
 


  </form>
<div id="tweet-container"></div>
    <div class="col-sm-3 col-xs-12" style="background-color: yellow;">


      <h1>{{request.user}}</h1>
      {% include 'tweetme/form.html' with form=form action_url=create_url btn_title='Tweet' %}
    </div>
  <div class="col-sm-9">
{{object.content}}<br> via {{object.user}}<br>{{object.timestamp|timesince}} ago | <a href="{{object.get_absolute_url}}">View</a> </p><br><br>
<div class="media">

  <a href="">

    {% if object.image %}
    <img class="media-object" src="..." alt="Generic placeholder image">
    {% endif %}
    </a>
    <div class="media-body">

 </div>
      
    </div>
  </div>
</div>
  <hr>

{% empty %}
{% if request.GET.q %}
<p>No tweet yet.</p>
{% else %}
<p>No tweets yet.</p>
{% endif %}
{% endfor %}
{% endblock content %} 
</div>
</div>
</div>